# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
        It is a good idea to batch-craft frequently needed items and keep a certain stock of various alloys and components
        You should go for the Compactor early, as plates are required to craft a wide variety of items and machines
        You can get your first prismarine through Deep Mob Learning or by using the Atomic Reconstructor on Nether Quartz
        RFTools Powercells can be used to wirelessly transmit power, even across dimensions
        The Combination Crafter multiblock can handle all recipes the Empowerer can, but faster
        The recipes for empowered crystals have changed from the defaults, use JEI to check them out
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


