# Configuration file

enabled {
    B:"advancedrocketry:planks"=true
    B:"appliedenergistics2:quartz_block"=true
    B:"appliedenergistics2:sky_stone_brick"=true
    B:"darkutils:pearl_block"=true
    B:"environmentaltech:aethium"=true
    B:"environmentaltech:erodium"=true
    B:"environmentaltech:ionite"=true
    B:"environmentaltech:kyronite"=true
    B:"environmentaltech:lonsdaleite"=true
    B:"environmentaltech:pladium"=true
    B:"integrateddynamics:crystalized_chorus_brick"=true
    B:"integrateddynamics:crystalized_menril_brick"=true
    B:"integrateddynamics:menril_planks"=true
    B:"quark:biome_cobblestone"=true
    B:"quark:biotite_block"=true
    B:"quark:duskbound_block"=true
    B:"quark:elder_prismarine"=true
    B:"quark:midori_block"=true
    B:"quark:soul_sandstone"=true
    B:"quark:stained_planks"=true
    B:"quark:world_stone_bricks"=true
    B:"traverse:blue_rock_bricks"=true
    B:"traverse:blue_rock_cobblestone"=true
    B:"traverse:fir_planks"=true
    B:"traverse:red_rock_bricks"=true
    B:"traverse:red_rock_cobblestone"=true
}


enabled_groups {
}


general {
    # Whether or not to enable debug functionality. [default: false]
    B:enableDebugFeatures=false
}


